@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    width: 1440px;
    height: 1024px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}


ul, li{
    list-style: none;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#head-logo {
    justify-content: center;
    width: 12.5rem;
    height: 9.03225rem;
    flex-shrink: 0;
    margin-left: 38.75rem;
    margin-right: 15.56rem;
    margin-top: 3.13rem;
    margin-bottom: 2.05rem;
}

.me-bar {
    display: inline-flex;
    padding: 1.5625rem;
    justify-content: center;
    align-items: center;
    gap: 6.25rem;
    margin-left: 6.88rem;
    margin-top: 7.91rem;
    margin-bottom: 2.05rem;
}


a{
    color: #101010; 
    text-decoration-line: none;
}

.order_o{
    display: flex;
    margin-top: 45px;
}


.order > button{
    margin-top: 45px;
    margin-left: 110px;
    width: 380px;
    height: 600px;
    border-radius: 20px;
    background: #FEC969;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-style: none;
}

.order_order{
    display: flex;
    justify-content: center;
    margin-top: -80px;
    color: #101010;
    text-align: center;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.order > button > img{
    display: flex;
    margin-top: 52px;
    margin-left: 110px;
    width: 159.75px;
    height: 216px;
}

.order_what{
    margin-top: 70px;
    display: flex;
    color: #101010;
    justify-content: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.order_what_what{
    display: flex;
    color: #101010;
    justify-content: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.money > button{
    margin-top: 45px;
    margin-left: 40px;
    width: 380px;
    height: 600px;
    border-radius: 20px;
    background: #FEC969;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-style: none;
}

.money_money{
    display: flex;
    justify-content: center;
    margin-top: -50px;
    color: #101010;
    text-align: center;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.money > button > img{
    display: flex;
    margin-top: 52px;
    margin-left: 110px;
    width: 159.75px;
    height: 216px;
    object-fit: cover;
}

.meney_what{
    margin-top: 70px;
    display: flex;
    color: #101010;
    justify-content: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.money_what_what{
    display: flex;
    color: #101010;
    justify-content: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.money_what_what_what{
    display: flex;
    color: #101010;
    justify-content: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu > button{
    margin-top: 45px;
    margin-left: 40px;
    width: 380px;
    height: 600px;
    border-radius: 20px;
    background: #FEC969;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-style: none;
}

.menu_menu{
    display: flex;
    justify-content: center;
    margin-top: -80px;
    color: #101010;
    text-align: center;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.menu > button > img{
    display: flex;
    margin-top: 52px;
    margin-left: 110px;
    width: 159.75px;
    height: 216px;
}

.menu_what{
    margin-top: 70px;
    display: flex;
    color: #101010;
    justify-content: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu_what_what{
    display: flex;
    color: #101010;
    justify-content: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.me-bar > button:active{
    position: relative;
    top: 2px;        
}

.order > button:active{
    position: relative;
    top: 2px;     
}

.order >button:hover{
    opacity: 0.8;
}

.menu > button:active{
    position: relative;
    top: 2px;     
}

.menu >button:hover{
    opacity: 0.8;
}

.money > button:active{
    position: relative;
    top: 2px;    
}

.money >button:hover{
    opacity: 0.8;
}