<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prentendard">
    <link rel="stylesheet" href="{% static 'css/manage.css' %}">
    <script src="{% static 'js/manage.js' %}"></script>
</head>
<body>
    <header>
        <h1 id="head-logo">
            <a href="#"><img src="assets/logo 2.png"></a>
        </h1>
        <div class="me-bar">
            <p class="user-name">admin 님</p>
            <button class="logout" style="cursor:pointer;" onclick="logOutPage()">로그아웃</button>
        </div>
    </header>
    <div class="order_o">
        <div class="order">
            <button type="button" style="cursor:pointer;" onclick="goToOrderPage()">
                <span class="order_order">주문</span>
                <img src="assets/Mask group (1).png">
                <span class="order_what">주문 페이지에서</span>
                <span class="order_what_what">주문 내역 확인이 가능합니다</span>
            </button>
        </div>
        <div class="menu">
            <button type="button" style="cursor:pointer;" onclick="goToMenuPage()">
                <span class="menu_menu">메뉴</span>
                <img src="assets/Vector.png">
                <span class="menu_what">메뉴 페이지에서</span>
                <span class="menu_what_what">메뉴를 수정할 수 있습니다</span>
            </button>
        </div>
        <div class="money">
            <button type="button" style="cursor:pointer;" onclick="goToSalesPage()">
                <span class="money_money">매출</span>
                <img src="assets/Vector (1).png">
                <span class="meney_what">매출 페이지에서</span>
                <span class="money_what_what">가게의 매출 현황을</span>
                <span class="money_what_what">확인할 수 있습니다</span>
            </button>
        </div>
    </div>
</body>
</html>